*{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
body{
    background: #f1f3f6;

}
nav{
    margin: 0px;
    display: flex;
    flex-direction: row;
    background-color: #2874f0;
    overlay: auto;
    position: sticky;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.search-bar{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px;
    width: 30%;
    margin-left: 10px;
    box-shadow: black 0.1px;
}
input[name="search"]{
    border: none;
    outline: none;
    flex:1;
    border-radius: 2px;
}
button{
    background-color: transparent;
    border: none;
}

.login-more-cart{
    color: white;
    margin-left: 250px;
    font-weight: 500;
    background-color: #2874f0;
}

button[name="login-btn"]{
    background-color: white;
    color:#2874f0;
    size: 50px;
    /* border-radius: 3px;     */
    padding: 8px 45px;
    font-weight: 500;
}

.more-span{
    margin: 2px 30px;
}

.categories{
    width: 100%;
    display: flex;
    background-color: white;
    margin: auto;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: center;
}

.categories img {
    width:50px;
    align-self: center;
    background-color: transparent;
}
.category{
    display: flex;
    margin: 0px 20px;
    align-content: center;
}
.category div{
    justify-content: center;
}
.category a{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center;
    text-decoration: none;
    color:black
}
 .category a:hover{
    background-color: #f2f3f6;
 }

.deals-of-the-day{
    display: flex;
    padding: 10px 0px;
    border-bottom: 0.2px solid black;
}

.VIEW-ALL{
    background-color: #2874f0;
    color:white;
    padding:7px 7px;
    margin-left:auto;
    margin-right: 10px;
}

#deals-title{
    font-weight: bold;
}

.col-1{
    position: relative;
    background-color: white;
    width: 70%;
    margin:5px;
}
.col-2{
    margin:5px
}
#showcase{
    margin:15px
}

.row-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.row-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-self: center;
    width:84%;
}

.row-2 .col-1{
    position: relative;
    background-color: white;
    width: 100%;
    margin:5px;
}
.items-showcase {
    display: flex;
    overflow-x:hidden;

}

.items-showcase .item a img {
    width: 150px;
    height: 200px;
    
}
.item{
    align-items: center;
    align-content: center;
    justify-content: center;
    padding:15px;
    margin: 5px;
}

.item a {
    text-decoration: none;
    color: black;
    font-size:small;
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    
}
.item a div{
    overflow:hidden;
    white-space: nowrap;
}
.item-title{
    font-size: small;
    font-weight: bold;
    /* text-align: center; */
}
.discount{
    color:green;
    font-size: xx-small;
}
.desc{
    color:gray;
    font-size:xx-small

}

.col-1 button[name="scroll-btn"]{
    position: absolute;
    right: 0;
    top:50%;
    transform: translateY(-50%);
    padding: 20px 10px;
    background-color: white;
    box-shadow: 0 0px 4px black;
    font-size: 30px;
}

row-2 .items-showcase{

    justify-items: center;
}

.deals-of-the-day div {
    font-weight: 300;
    color:gray
}
